section {
  width: 94%;
  margin: 0 auto;
  margin-top: 80px;
}

.section_header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}
.section_header::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 2.5%;
  background-image: url('../../assets/icons/about\ section\ logo.svg');
  background-size: contain; 
  background-repeat: no-repeat;
}


.main {
  width: 95%;
  margin: 0 auto 50px auto;

  .section_mission {
    text-transform: uppercase;
    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 2rem;
    }

    .mission__bottom_block {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      p {
        display: inline-block;
        width: 60%;
      }
      img {
        width: 20%;
        height: auto;
        align-self: flex-start;
      }
    }

  }
  
  .awards {
    margin-top: 50px;

    div {
      display: flex;
      justify-content: space-between;
    }
  }
  
}