@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/variables.scss";

.card-image__content {
  position: relative;
  .card-marker {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    border-radius: 20px;
    padding: 0.25rem 0.75rem;
    background: $bG-grey;
    top: 1rem;
    left: 0.75rem;
    &__text {
      @include fontMarkerText();
    }
  }
  .card-category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 29px;
    position: absolute;
    bottom: 0;
    background-color: $color-orange;
    &__text {
      @include fontNameCategory();
    }
  }
  .card-noLike {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }
}
