@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/variables.scss";

.navbar {
  .list {
    display: flex;
    gap: 40px;
    align-items: center;
    .link {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: $color-blue;
        text-decoration: 2px underline $color-blue;
        text-underline-offset: 4px;
        font-weight: 600;
      }
    }
    .active {
      color: $color-blue;
      text-decoration: 2px underline $color-blue;
      text-underline-offset: 4px;
      font-weight: 600;
    }
  }
}
