@import "./variables.scss";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@mixin roboto($font-size, $font-weight) {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin fontMain() {
  @include roboto(1rem, 400);
  color: $color-black;
}
