@import "./variables.scss";

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@mixin roboto($font-size, $font-weight) {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin fontMarkerText() {
  @include roboto(0.625rem, 500);
  color: $color-black;
}

@mixin fontPriceText() {
  @include roboto(0.75rem, 400);
  color: $color-black;
}

@mixin fontPriceValue() {
  @include roboto(0.75rem, 500);
  color: $color-black;
}

@mixin fontNameCategory() {
  @include roboto(0.875rem, 700);
  color: $color-white;
}

@mixin fontFromDate() {
  @include roboto(0.875rem, 500);
  color: $color-grey;
}

@mixin fontMain() {
  @include roboto(1rem, 400);
  color: $color-black;
}

@mixin fontTitleCard() {
  @include roboto(1rem, 500);
  color: $color-black;
}

@mixin fontBtn() {
  @include roboto(1rem, 500);
  color: $color-white;
}

@mixin fontFilterText() {
  @include roboto(1.25rem, 400);
  color: $color-black;
}

@mixin fontUrgentText() {
  @include roboto(1.5rem, 400);
  color: $color-black;
}

@mixin fontButtonSearch() {
  @include roboto(1.5rem, 500);
  color: $color-white;
}
