.btn {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 16px;
    width: 656px;
    background-color: #F5F5F5;
    border: none;
    padding: 18px 0px 18px 68px;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;

    img {
        position: absolute;
        left: 10px;
        width: 44px;
        height: 44px;
    }
}