.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    font-size: 32px;


    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.content {
    padding: 50px;
    background: white;
    border-radius: 16px;
    min-width: 80%;
    min-height: 80%;

    .arrow {
        position: absolute;
        left: 130px;
        top: 80px;
        cursor: pointer;
    }
}

